.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: linear-gradient(to right, red, white); /* Gradient from red to white */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
  .nav-links {
    list-style: none;
    display: flex;
    align-items: end;
  }
  
  .nav-links li {
    margin: 0 10px;
    align-items:flex-end;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  